fastapi
uvicorn[standard]

python-dotenv
python-multipart

pymongo
motor

langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-text-splitters
langchain-huggingface
faiss-cpu

sentence-transformers

pypdf
python-docx

openai
google-generativeai

pydantic
pydantic-settings

passlib[bcrypt]
python-jose[cryptography]
email-validator

httpx
python-magic-bin; platform_system == "Windows"

pytest
pytest-asyncio

tiktoken
numpy